*{
	margin: 0;
	padding:0;
}
a:hover{
	text-decoration: none;
}
body{
	font-family: '微软雅黑';
	overflow-x: hidden;
}
.smallHide{
	display: block;
}
.smallShow{
	display: none;
}
#bs{
	font-size: 15px;
	position: relative;
	top: 12px;
	margin-bottom: 20px;
	left: 10%;
}
#bs a{
	color: #FFFFFF; 
}
#nav2{
	position: absolute;
	right: 60px;
}
.videoBox{
	overflow: hidden;
	position: relative;
	width: 100%;
	top: -20px;
}
.cover{
	position: absolute;
	z-index: 500;
	width: 100%;
	height: 100%;
}
.coverDiv1,.coverDiv2,.coverDiv3{
	position: absolute;
	z-index: 900;
	
}
.small-coverDiv1,.small-coverDiv2,.small-coverDiv3{
	position: relative;
	z-index: 800;
}
.coverInner{
	position: absolute;
	z-index: 600;
	opacity: 0.4;
	background-color:#333333;
	width: 100%;
	height: 100%;
}
.coverDiv1{
	/*border: 1px solid black;*/
	width: 375px;
	height: 110px;
	text-align: center;
	font-size: 40px;
	top: 160px;
	left: 56%;
	color: #C3C3C3;
}
.coverDiv2{
	text-align: center;
	font-size: 21px;
	top: 340px;
	left: 57%;
	letter-spacing: 5px;
	line-height: 35px;
	color: #C3C3C3;
	
}
.coverDiv3{
	color: #C3C3C3;
	text-align: center;
	font-size: 21px;
	top: 450px;
	left: 60%;
	border: 1px solid #C3C3C3;
	width: 280px;
	height: 60px;
	line-height: 60px;
	letter-spacing: 5px;
	transition: all 0.2s linear;
	cursor: pointer;
}
.coverDiv3:hover{
	color: #757575;
	background-color: white;
}
.coverSpan2{
	animation: spanAnimate 0.4s infinite alternate-reverse;
}
@keyframes spanAnimate{
	from{opacity: 1;}
	to{opacity: 0;}
}
.small-videoBox{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 450px;
	top: -20px;
}
.small-videoBox img{
	min-width: 500px;
	min-height: 450px;
}
.small-coverDiv1{
	color: #FFFFFF;
	margin-top:80px;
	text-align: center;
	font-size: 42px;
	letter-spacing: 3px;
}
.small-coverDiv2{
	color: #FFFFFF;
	margin-top:15px;
	text-align: center;
	font-size: 20px;
}
.small-coverDiv3{
	text-align: center;
}
.small-coverDiv3 span{
	display: inline-block;
	color: #FFFFFF;
	width: 230px;
	height: 70px;
	margin-top: 30px;
	background-color: #337AB7;
	text-align: center;
	font-size: 20px;
	line-height: 70px;
	letter-spacing: 5px;
	border-radius: 5px;
	transition: all 0.5s linear;
}
.small-coverDiv3 span:hover{
	background-color:  #2B669A;
}
div.text,div.text3,div.text4{
	text-align: center;		
}
div.text>h1{
	font-size: 44px;
	line-height: 80px;
}
div.text2>h2{
	font-size: 44px;
	line-height: 100px;
}
div.text3>h2{
	font-size: 38px;
	line-height: 70px;
}
div.text3>p{
	letter-spacing: 2px;
	font-size: 17px;
	color: #494949;
	line-height: 45px;
}
div.text>p{
	font-size: 18px;
	opacity: 0.7;
	line-height: 25px;
}
div.box{
	overflow: hidden;
	margin-bottom: 200px;				
}
div.text2{				
	padding-top: 30px;
	width: 490px;
}
div.text2>h1{
	font-size: 32px;
	line-height: 46px;
}
div.text2>p{
	opacity: 0.8;
	line-height: 30px;
	margin-top:28px ;
	text-align: justify;
	font-size: 15px;
}
div.text4>p{
	font-size: 15px;
	line-height: 60px;
	opacity: 0.6;
}
.divBorder{
	font-size: 15px;
	border:1px solid  #CDCDCD;
	width: 285px;
	height: 170px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 30px;
	line-height: 40px;
	transition: all 0.1s linear; 
}
.webImg img{
	width: 95%;
	margin-top:15px;
}
.btn-showCase{
	display: block;
	margin:5px auto;
	font-size: 15px;
	background-color:#3EA3FF ;
	border: none;
	width: 200px;
	height: 40px;
	color:#FFFFFF;
	opacity: 0.9;
	border-radius: 50px;
}
.btn-showCase:hover{
	opacity: 1;
}
article{
	
	margin-top:60px;
	margin-bottom: 120px;
}

.divImg{
	float: left;
	width: 54%;
}
.divText{
	float: right;
	width: 41%;
}
.divImg2{
	float: right;
	width: 54%;
}
.divText2{
	float: left;
	width: 41%;
}
.divText2>h1{
	color: #3EA3FF;
}
.divText>h1,.divText2>h1{
	font-size: 34px;
	line-height: 46px;
}
.divText>p,.divText2>p{
	color: #808080;
	line-height: 30px;
	margin-top:28px ;
	text-align: justify;
	font-size: 15px;
}
@media(max-width:992px) {
	.smallHide{
		display: none;
	}
	.smallShow{
		display: block;
	}
	div.box{
		margin-bottom: 100px;				
	}
	.divImg,.divImg2{
		display: block;
		width: 100%;
	}
	.divText,.divText2{
		display: block;
		width: 100%;
	}
	dd img{
		width: 100%;
		margin-right: 5px;
	}
	dl.dls1{
		width: 100%;
	}
}
@media(max-width:760px) {
	.divText>h1,.divText2>h1,div.text>h1,div.text4>h1,.foot-text1>h1,div.text3>h2{
		font-size: 1.4em;
	}
	.divText>p,.divText>p,div.text>p,div.text4>p,.foot-p,.foot-text1>p{
		font-size: 0.8em;
	}
}
.footImg{
	color: #FFFFFF;
	text-align: center;
	width: 100%;
	margin: 15px;
	padding: 10%;
	background-size: auto 100%;
	background-image: url(../img/footer01.jpg);
}
.footImg>img{
	width: 100%;
	height: 60%;
}
.foot-text1>p{
	font-size: 15px;
	line-height: 25px;
	margin: 30px 0px;
}
.spanBorder{
	display: block;
	width: 65px;
	margin:5px auto;
	border: 1px solid #FFFFFF;
	transform: rotate(0deg);
}
.cooperation-body{
	margin-top: 60px;
}
.divOperation img{
	width: 100%;
}
.divOperation{
	padding: 30px 10px 10px 10px;
	border: 1px solid #CDCDCD;
	text-align: center;
	overflow: hidden;
}
.divOperation>.smallHide{
	color: #8C8C8C;
	font-size: 18px;
	margin-top: 30px;
	line-height: 15px;
}
/*#imgBox{
	width: 85%;
	margin: 60px auto;
	overflow: hidden;
	border: 1px solid black;
}
.feedback p{
	width: 80%;
	line-height: 28px;
	text-align: justify;
}*/
/*客户反馈    客户反馈    客户反馈     客户反馈*/
#imgBox{
	width: 85%;
	margin: 60px auto;
	/*overflow: hidden;*/
	height: 114px;
	border: 1px solid black;
	position: relative;
}
#imgBox>div{
	/*border: 1px solid black;*/
	position: relative;
	overflow: hidden;
}
.feedback p{
	width: 80%;
	line-height: 28px;
	text-align: justify;
}
dd img{
	width: 23%;
}
.dls1,.dls2,.dls3,.dls4,.dls5{
	height: 300px;
	float: left;
}
dt{
	font-size: 15px;
	margin-bottom: 20px;
}
dl{
	margin-bottom: 15px;
}
.dls1{
	width: 30%;
}
.dls2{
	padding-left: 2%;
	width: 10%;
	left: 40%;
}
.dls3{
	padding-left: 2%;
	width: 10%;
	left: 50%;
}
.dls4{
	padding-left: 1%;
	width: 20%;
	left: 58%;
}
.dls5{
	width: 25%;
	left: 76%;
}
dd>a{
	display: inline-block;
	margin-bottom: 15px;
	color: #43515C;
	text-decoration: none;
}
dd>a:hover{
	color: #83CBFF;
	text-decoration: none;
}
/*免费海量模板随您挑选    免费海量模板随您挑选   免费海量模板随您挑选   免费海量模板随您挑选*/
#left,#right{
	position: relative;
	top: -100px;
	font-size: 20px;
	cursor: pointer;
}			
.temp{
	display: inline-block;
	width: 900px;
	max-height: 250px;
	margin: 0 auto;
	/*border: 1px solid black;*/
	overflow: hidden;
}
.tempUl{
	margin: 0;
	padding: 0;
	list-style: none;			
	width: 2400px;
	height: 250px;
	position: relative;
	transition: all 0.5s linear;
}
.tempUl li{
	margin: 0;
	padding: 0;
	float: left;
}
.tempImgs img{
	margin: 0;
	padding: 0;
	width:300px ;
	max-height:250px;
}
/*文档和关于的子菜单的样式      文档和关于的子菜单的样式*/
.about-img img{
	width: 122px;
	height:62px;
	margin: 6px 5px;
}
.about-img{
	margin-top: 15px;
	border: 1px solid #ADADAD;					    		
	width: 134px;
	height: 76px;
}
.document,.about{
	display: none;
	border-top: 1px solid  #ADADAD;
	background-color: #333333;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
	top: 50px;
	overflow: hidden;
	width: 100%;
	transition: all 0.5s linear;
	/*opacity: 0;*/
}
.menu-ul,.menu-ul ul{					    		
	list-style: none;
}
.menu-ul{
	margin: 0 auto;
	width: 800px;
	overflow: hidden;
}
.menu-ul a{
	color: #686868;
}
.menu-ul>li>a{
	color: #FFFFFF;	
}
.menu-ul>li>a:hover{
	color: #686868;	
}
.menu-ul>li{
	float: left;
	margin:30px 0 50px 70px ;
	line-height: 35px;
}
li.menu-li{
	margin-left: 20px;
}
/*右侧悬浮菜单    右侧悬浮菜单     右侧悬浮菜单*/
.rightMenu{
	list-style: none;
	position: fixed;
	z-index: 3000;
	bottom: 33%;
	right: 0px;	
	margin: 0;
	padding: 0;
}
.rightMenu>li{
	clear: right;
	width: 54px;
	height: 54px;
	float: right;
	overflow: hidden;
	transition: all 0.3s linear;
	background-color: #333333;
	/*border: 1px solid blue;*/
}
.rightMenu>li.first , .rightMenu>li.last:hover{
	background-color: #61B0FF;
}
.rightMenu>li.Menu:hover{
	background-color: #61B0FF;
	width: 153px;
}
.rightMenu>li.first:hover{
	width: 153px;
}
.rightMenu span.QQ,
.rightMenu span.phone,
.rightMenu span.course,
.rightMenu span.weixin{
	margin: 10px 10px;
	padding: 0;
	width: 34px;
	height: 34px;
	float: left;
	display: block;
	overflow: hidden; 
	/*border: 1px solid black;*/
	background-image: url(../img/rightNav.png);
	background-repeat: no-repeat;
}
.rightMenu  a{
	/*border: 1px solid red;*/
	overflow: hidden;
}
.rightMenu span.content{
	color: white;
	display: block;
	float: left;
	margin-top: 18px;
	margin-left: 5px;
	/*border: 1px solid black;*/
}

